/* Css Demo Project */

/* ------Box Sizing------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}


/*-------------------Responsive Images---------------------*/
img{
  max-width:100%;
}







/* --------Utility Styles------- */

.container{
  width:80vw;  /* flexible units - could use percent (inside of other elements) or vw vh - viewport width and height*/
  margin:40px auto; 
}

.img-right{
  float:right;
  margin: 10px 0 10px 20px;
  border:4px double #c0c0c0;
  padding:5px;
  box-shadow: 0 8px 16px rgba(0,0,0,.4)
}

.img-left{
  float:left;
  margin: 10px 20px 10px 0px;
  border:4px double #c0c0c0;
  padding:5px;
  box-shadow: 0 8px 16px rgba(0,0,0,.4)
}

.img-center{
  border:4px double #c0c0c0;
  padding:5px;
  box-shadow: 0 8px 16px rgba(0,0,0,.4);
  display:block;
  margin:20px auto:
}






/* --------Global Styles------- */

body{background-color:white;
font-family: 'croissant one', sans-serif;
  margin:0;
  background-image:url("../img/airport.jpeg");
  /*----default is tiling----*/
  /*--background-repeat:repeat-x or y repeats along the x or y axis---*/
  background-repeat:no-repeat;
  background-position:20vh 20vw;
  background-size:contain;

}

header.primary{
  background-color:#32D1E6;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.2' fill-rule='nonzero'%3E%3Cpath d='M29 58.58l7.38-7.39A30.95 30.95 0 0 1 29 37.84a30.95 30.95 0 0 1-7.38 13.36l7.37 7.38zm1.4 1.41l.01.01h-2.84l-7.37-7.38A30.95 30.95 0 0 1 6.84 60H0v-1.02a28.9 28.9 0 0 0 18.79-7.78L0 32.41v-4.84L18.78 8.79A28.9 28.9 0 0 0 0 1.02V0h6.84a30.95 30.95 0 0 1 13.35 7.38L27.57 0h2.84l7.39 7.38A30.95 30.95 0 0 1 51.16 0H60v27.58-.01V60h-8.84a30.95 30.95 0 0 1-13.37-7.4L30.4 60zM29 1.41l-7.4 7.38A30.95 30.95 0 0 1 29 22.16 30.95 30.95 0 0 1 36.38 8.8L29 1.4zM58 1A28.9 28.9 0 0 0 39.2 8.8L58 27.58V1.02zm-20.2 9.2A28.9 28.9 0 0 0 30.02 29h26.56L37.8 10.21zM30.02 31a28.9 28.9 0 0 0 7.77 18.79l18.79-18.79H30.02zm9.18 20.2A28.9 28.9 0 0 0 58 59V32.4L39.2 51.19zm-19-1.4a28.9 28.9 0 0 0 7.78-18.8H1.41l18.8 18.8zm7.78-20.8A28.9 28.9 0 0 0 20.2 10.2L1.41 29h26.57z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color:#ffffff;
  text-align:center; /*left,right,justify*/
  
  padding:40px;
  /*long form - */
  padding-top:40px;
  padding-right:40px;
  padding-bottom:40px;
  padding-left:40px;
   /*TRBL*/
  padding: 20px 40px 20px 40px;
  /*two value T/B L/R */
  padding: 20px 40px;
  text-shadow: 10px 10px 10px #038899;
    /*y value and x value, and blur*/
}

header.primary h1 {
  font-size: 3rem; /*better to use relative sizing*/
  margin: 20px;
}

header.primary h1 a{
  color:#ffffff;
  text-decoration:none;
}

header.primary h2{
  font-size:1.4rem; 
  color:#E68032;
}

header.primary nav{
  background:none;
  max-width:960px;
  margin: 40px auto; /* T/B and R/L */
  /* center any block-level element - don't use manually calculated margin; set auto */
}

header.primary nav ul{
  display:flex;
  flex-direction:row; /*row-reverse will reverse order*/
  justify-content:space-evenly;
  padding:0;
}

header.primary nav ul li{
  list-style-type:none;
}

header.primary nav a{
  color:#ffffff;
  text-decoration:none;
  background-color:#000000;
  background-color: rgba(0,0,0,0.4); /*rgba a - alpha=opacity; can also be done with opacity but will also change the text*/
  padding:8px 16px;
  border-radius:20px 10px; /*rounds the edges*/
  transition:0.5s;
}
h1, h2, h3, h4, h5, h6{
  color:#994D12;
}
header.primary nav a:hover,
header.primary nav a:active{
  background-color: rgba(0,0,0,0.8); 
}

#intro{
  border-bottom: 4px dotted #994D12;
  padding-bottom:20px;
}

#intro h2{
  color:#E68032;
  border-bottom: 4px dotted #994D12;
} 

#content{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  gap:10px;
  border-bottom: 1px dotted #c0c0c0;
  padding-bottom:2.6rem;
}

#content article.post{
  box-shadow: 0 10px 10px rgba(0,0,0,.4);
  padding:10px;
  font-size:1.0 rem;
  transition:.5s;

  
}

#content article.post:hover{
  box-shadow: 0 8px 16px rgba(0,0,0,.4);
}

article.post figure{
  margin:0;
}

time.post-date, figcaption, 
.post-meta{
  text-transform:uppercase;
  color:#c0c0c0;
  font-size:.7rem;
}

article.post img{
  border:solid 1px #c0c0c0;
  padding:2.5px;
  border-radius:5px;
}

article.post a{
 color: #3b638b;
 transition:.5s;
}

article.post a:hover{
 text-decoration:none;
}

#practice{
  line-height:1.8
}

#practice h2{
  color: #E68032;
}

#practice a{
  color: #3b638b
}

#practice a:hover{
  text-decoration:none;
}

#practice h3{
  border-left:5px solid #32D1E6;
  padding-left:10px;

}

#practice blockquote{
  border:4px double #c0c0c0;
  padding:20px 40px;
  margin:40px 80px;
  border-radius:30px 0;
  background-color:#3b638b;
  color:#ffffff;
  line-height:1.5; 
  text-shadow:2px 2px #000;
}

#practice cite{
  display:block;
  text-align:right;
  font-size:0.7rem;
  font-weight:bold;

}

table{
  width:100%; /*fill container 100% */
  border:1px solid #c0c0c0;
  margin:20px 0;
  border-collapse:collapse;
}

table caption{
  font-weight:bold;
  margin:10px;
}

table tr:nth-child(even){ /*could select odd or row # or 3n+2 every third row starting with line 2*/
  background-color:rgba(0,0,0,.1);
} /*alternating row color*/

table tr:hover{
  background-color:rgba(0,0,0,.2);
}

table th{
  background-color:#FF9D52;
  padding:10px;
}

td:nth-child(n+2){
  text-align:right;
}

table td{
  border:1px solid #c0c0c0;
  padding:5px;
}

ol{
  list-style-type:lower-roman;
}

li{


}

ul li > ul {
  list-style-type:square;
  color:#994D12;
}

dl{}

dt{
  font-weight:bold;
}

dd{
  margin:0;
}

/* adjacent sibling combinator */
dd + dt{
  color:#32D1E6;
  margin-top:20px;
}

/* dd:last-child{
  color: #32D1E6;
} */ 




/* Attribute Selector Example
a[target="_blank"]{
  color:red;
}
*/

aside[role="complementary"]{
  background-color: #172635;
  color:#fff;
  padding:40px;
}

aside .container{
  display:flex;
  flex-direction:row;
  gap:40px;
}

aside .container p{
  line-height:1.2;
}

aside .container a:last-of-type{
  color:#ffffff;
  display:block;
  text-align:right;
  margin-top:20px;
}

aside .container a{
  color:#ffffff;
}

aside .container .widget footer{
  display:none;
}

#colophon{
  background:#3b638b;
}

#colophon h6{
  padding:20px;
  margin:0;
  text-align:center;
  color:#fff;
}








































/*  ---------------Media Queries-----------------  */

@media screen and (max-width:600px){
  
  header.primary nav ul{
    flex-direction:column;
    max-width:250px;
    margin:auto;
    gap:10px;
  }
  header.primary nav ul a{
    display:block;
  }
  #content {
    flex-direction:column;
  }  
  #content img{
    display:block;
    margin:20px auto;
    
  }
  aside .container{
    flex-direction:column;
  }
}
