/* Css Demo Project */

/* ------Box Sizing------- */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  
  
  /* --------Global Styles------- */
  
  body{background-color:white;
  font-family: 'croissant one', sans-serif;
    margin:0;
  }
  
  header.primary{
    background-color:#32D1E6;
    color:#ffffff;
    text-align:center; /*left,right,justify*/
    
    padding:40px;
    /*long form - */
  
    padding-top:40px;
    padding-right:40px;
    padding-bottom:40px;
    padding-left:40px;
     /*TRBL*/
    padding: 20px 40px 20px 40px;
    /*two value T/B L/R */
    padding: 20px 40px;
    text-shadow: 10px 10px 10px #038899;
      /*y value and x value, and blur*/
  }
  
  header.primary h1 {
    font-size: 3rem; /*better to use relative sizing*/
    margin: 20px;
  }
  
  header.primary h1 a{
    color:#ffffff;
    text-decoration:none;
  }
  
  header.primary h2{
    font-size:1.4rem; 
    color:#E68032;
  }
  
  header.primary nav{
    background:none;
    max-width:960px;
    margin: 20px auto;
    /* center any block-level element - don't use manually calculated margin; set auto */
  }
  
  header.primary nav ul{
    display:flex;
    flex-direction:row; /*row-reverse will reverse order*/
    justify-content:space-evenly;
    padding:0;
  }
  
  header.primary nav ul li{
    list-style-type:none;
  }
  
  header.primary nav a{
    color:#ffffff;
    text-decoration:none;
    background-color:#000000;
    background-color: rgba(0,0,0,0.4); /*???*/
    padding:8px 16px;
    border-radius:20px 10px; /*rounds the edges*/
  }